h1, p {
    text-align: center;
}

h1{
padding-top: 3%
}

p{
    font-family: "Berlin Sans FB";
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 1%;
}

#goBack{
    font-size: 25px;
    font-family: "Berlin Sans FB";
    position: relative;
    display: block;
    color: #51639F;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    border-radius: 20px;
    margin-bottom: 180px;
}

#goBack:hover{
    color: #00BDD9;
}